<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="predguardadas" ng-show="predicciones && predicciones.length>0" class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">Predicciones guardadas</p>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <div ng-repeat="prediccion in predicciones">
                        <a href="#prediccion/{{$index}}" class="list-group-item col-sm-10 col-xs-10" >{{prediccion.provincia}} ({{prediccion.timestamp| date:'dd/MM/yyyy'}}, {{prediccion.timestamp| date:'HH:mm'}}h.)</a>
                        <a ng-click="predicciones.splice($index,1)" class="list-group-item col-sm-2 col-xs-2" >
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>

                    </div>

                </ul>
            </div>
        </div>
    </div>
